header {
  background-color: #223f07;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

header nav a {
  margin: 0 20px;
}

h1 {
  text-align: center;
}

img {
  width: 200px;
}

.container-grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
}
